.review-card {
    border: 1px solid #94D0B4;
    border-radius: 12px;
    padding: 14px 16px;
    background-color: white;
    min-width: 332px;
    justify-self: start;
    font-family: Nunito Sans;
    box-shadow:
        0px 4px 69px rgba(0, 0, 0, 0.05),
        0px 1px 8px rgba(0, 0, 0, 0.08);
}

.review-header {
    display: flex;
    justify-content: space-between;
    padding: 2px 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}

.user-text {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 16px;
}

.review-hotel-name {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 16px;
    color: #717171;
}

.review-date {
    color: #717171;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 16px;
}

.review-text {
    padding: 10px;
    padding-bottom: 0px;
    color: #222222;
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 16px;
}

@media (max-width: 640px){
    .review-card{
      width: 100%;      /* заполняет колонку */
      max-width: 332px; /* но не шире макета  */
      margin: 0 auto;   /* по центру, т.к. ширина меньше родителя */
    }
  
    /* если обёртка-ячейка flex, выравниваем по центру: */
    .info__review{justify-content:center;}
  }