.profile-section-second-title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #717171;
    margin-bottom: 32px;
}

/* ===== layout ===== */
.facilities__columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 48px 20px;
    /* вертикаль / горизонталь */
}

.facilities__group:not(:last-child) {
    margin-bottom: 32px;
}

/* ===== headings ===== */
.facilities__heading {
    font-family: Nunito Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: #717171;
    margin: 0 0 8px;
    display: flex;
    align-items: center;
    gap: 6px;
}

/* ===== list ===== */
.facilities__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.facilities__item {
    font-family: Nunito Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: #717171;
    display: flex;
    align-items: flex-start;
    gap: 8px;
    margin-bottom: 4px;
}

.facilities__check {
    flex: 0 0 12px;
    margin-top: 2px;
    color: #717171;
}

.facilities__more {
    display: none;
    /* по умолчанию прячем (desktop) */
    margin: 32px auto 0;
    padding: 10px 28px;
    border: 1px solid #ddd;
    border-radius: 28px;
    background: #fff;
    font-family: "Nunito Sans", sans-serif;
    font-size: 15px;
    color: #717171;
    cursor: pointer;
    transition: background 0.2s;
}

.facilities__more:hover {
    background: #fafafa;
}


/* мобильный: одна колонка + показываем кнопку */
@media (max-width: 480px) {

    .facilities__columns {
        grid-template-columns: 1fr;
        padding: 0px 15px;
    }

    .facilities__text {
        display: inline-block;
        max-width: 130px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .facilities:not(.facilities--expanded) .facilities__group--extra {
        display: none;
    }

    .facilities:not(.facilities--expanded) .facilities__list li:nth-child(n + 5) {
        display: none;
    }

    .facilities__more {
        display: block;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .facilities__columns {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 32px 0px;
    }
}